<main>
<div class="container">
    <h2>Start New Discussion</h2>

    <a href="/discussions">See all Discussions</a><br><br>

    <div class="container">
        <form method="POST" action="/discussions">

            <div class="form-row">
                <div class="form-group col-md-6">
                    {{!-- Discussion Topic --}}
                    <label for="">Topic</label>
                    <input class="form-control" type="text" name="name" placeholder="Enter discussion topic">
                </div>
                <div class="form-group col-md-6">
                    {{!-- Creation Date --}}
                    <label for="">Date Started</label>
                    <input class="form-control" type="date" name="dateCreated">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-3">
                    {{!-- Submit --}}
                    <label for="">User</label>
                    <input class="form-control" type="text" name="name" placeholder="Enter Username">
                </div>
                <div class="form-group col-md-9">
                    {{!-- Begin Comments --}}
                    <input class="form-control" type="text" name="comment" placeholder="comment...">
                </div>
            </div>
            
            <input class="form-control" type="submit" value="Begin Discussion">
        </form>
    </div>
</div>
</main>
{{!-- <form method="POST" action="{{ discussion.id }}?_method=DELETE">
  <input class="form-control " type="submit" value="Delete" />
</form> --}}