body {
    font-family: 'Lato', sans-serif;
}

a {
    color: #000000;
}

a:hover {
    color: #7d0a00;
    text-decoration: none;
}

.profile-pic {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

ul {
    list-style-type: none;
}

li {
    font-size: .75em;
}