<main>
    <h2>Active Projects</h2>
    
    {{#each projects }}

        <div class="container">
    
            <a href="/projects/{{ _id }}"><h3>{{ name }}</h3>
            <p><strong>Project Created:</strong> {{ dateCreated }} </p>
            <p><strong>Iteration Due:</strong> {{ due }}</p></a>
            <br>

        </div>  

    {{/each }}
    
    <a href="/projects/new">Create Project</a>

</main>