<div class="container">
    <h2>Create New Account</h2>

<a href="/">Return to User Index</a><br><br><br>

<div class="container">
    <form method="POST" action="/">
        <div class="form-row">
            <div class="form-group col-md-6">
                {{!-- firstName --}}
                <input class="form-control" type="text" name="firstName" placeholder="First Name">
            </div>
            <div class="form-group col-md-6">
                {{!-- lastName --}}
                <input class="form-control" type="text" name="lastName" placeholder="Last Name">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{!-- email --}}
                <input class="form-control" type="text" name="email" placeholder="email">
            </div>
            <div class="form-group col-md-6">
                {{!-- occupation --}}
                <input class="form-control" type="text" name="occupation" placeholder="occupation">
            </div>
        </div>
    <div class="form-group">
        {{!-- specializations --}}
        <input class="form-control" type="text" name="specialties" placeholder="specialties"><br>
        {{!-- skills --}}
        <input class="form-control" type="text" name="skills" placeholder="skills"><br>
         <div class="form-row">
            <div class="form-group col-md-6">
                {{!-- birthday --}}
                <input class="form-control" type="date" name="birthDate">
            </div>
            <div class="form-group col-md-6">
                <input class="form-control" type="text" name="img" placeholder="image url">
            </div>
        </div>   
    </div>
        <input type="submit" value="Create Profile">
    </form>
</div>
</div>